/*-------------- Topbar, Navbar & Overlay -----------------  */

:host {
	display: grid;
	grid-template-areas: "header header"
		"navigation content";
	grid-template-columns: 10rem 1fr;
	grid-template-rows: 3rem 1fr;
	height: 100vh;
	transition: var(--standard-transition); // transition only works with grid-template-columns in firefox so far
}
:host.hidden-navigation {
	grid-template-columns: 3.5rem 1fr;
}

header { grid-area: header; }
nav { grid-area: navigation; }
article { grid-area: content; }
lundin-login { grid-area: 2 / 1 / 3 / 3; }

header {
	display: flex;
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--color-primary);
	color: white;
	line-height: 3rem;
	padding: 0 1rem;
}

header a {
	margin-left: auto;
	line-height: 2rem;
}

nav {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: var(--color-background);
}

article {
	height: calc(100vh - 3rem);
	overflow: auto;
}

nav a { display: inline-flex; }

button { display: inline-flex; }
a, button {
	height: unset;
	font-size: 1.2rem;
	padding: 0.2rem;
}
a + button { margin-top: auto; }

.nav-btn {
	background-color: var(--color-background);
	color: var(--color-text-dark);
	border-radius: unset;
}

.nav-btn img {
	width: 3rem;
}

.nav-btn span {
	margin-top: auto;
	margin-bottom: auto;
	white-space: nowrap;
}

.nav-btn:hover {
	background-color: var(--color-secondary);
}

.collaps-btn {
	border-bottom: 1px solid var(--color-border);
}

.logout-btn {
	border-top: 1px solid var(--color-border);
}

.overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: #0008;
	padding: 1rem calc(50vw - 20rem);
	z-index: 1;
}
.overlay.hidden { display: none; }

.loading {
	position: fixed;
	height: 100vh;
	width: 100vw;
	padding: 0;
	background: var(--color-background);
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	line-height: 100vh;
	opacity: 1;
	transition: 1s ease;
	transition-delay: 500ms;
}
.loading.hidden {
	opacity: 0;
	pointer-events: none;
}

.message-box {
	position: absolute;
	display: flow-root;

	font-weight: bold;
	text-align: center;
	color: var(--color-text-light);
	background-color: var(--color-primary);
	padding: 0.5rem;
	border-radius: var(--border-radius-half);

	white-space: pre-line;
	min-height: 1rem;
	max-height: 20rem;
	bottom: 1rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 40rem;
	max-width: 100%;
	box-shadow: var(--standard-shadow);
	transition: var(--standard-transition);
}
.message-box.hidden { bottom: -6rem; }
.message-box img {
	position: absolute;
	top: 0;
	right: 0;
	height: 1.5rem;
	margin: 0.2rem;
	opacity: 0.5;
	transition: var(--standard-transition);
}
.message-box img:hover {
	opacity: 1;
	cursor: pointer;
}

.nav-text {
	margin-left: 0.4rem;
}

.profile-img {
	background-color: #e0e8e3;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 1.5rem;
	text-align: center;
	color: var(--color-text-dark);
	font-size: 1.5rem;
	padding-top: 0.2rem;
}

.profile-welcome-message {
	font-size: 1rem;
	margin-right: 0.5rem;
}

.profile-nav-content {
	display: flex;
}

.nav-content {
	justify-content: space-between;
}