:host {
	display: grid;
	grid-template-areas: "header header"
		"navigation content";
	grid-template-columns: 10rem 1fr;
	grid-template-rows: 3rem 1fr;
}

header { grid-area: header; }
nav { grid-area: navigation; }
article { grid-area: content; }

nav a { display: block; }