<h1>Opret ny begivenhed</h1>

<div class="content-container">
	<label for="title"
		[labelling]="titleInput">
		Titel
	</label>
	<input #titleInput
		type="text"
		[(ngModel)]="event.title"
		id="title"
		autocomplete="off">

	<label for="date"
		[labelling]="dateInput">
		Dato
	</label>
	<input #dateInput
		type="date"
		[(ngModel)]="event.date"
		id="date"
		autocomplete="off">

	<label for="start"
		[labelling]="startInput">
		Starttidspunkt
	</label>
	<input #startInput
		type="time"
		[(ngModel)]="event.startTime"
		id="start"
		autocomplete="off">

	<label for="end"
		[labelling]="endInput">
		Sluttidspunkt
	</label>
	<input #endInput
		type="time"
		[(ngModel)]="event.endTime"
		id="end"
		autocomplete="off">

	<label for="description"
		[labelling]="descriptionInput">
		Beskrivelse
	</label>
	<textarea #descriptionInput
		type="text"
		[(ngModel)]="event.description"
		id="description"
		autocomplete="off">
	</textarea>
</div>

<div class="btn-container">
	<button type="button"
		(click)="addCalendarEvent()"
		[disabled]="!event.title || !event.description">
		Opret begivenhed
	</button>
</div>