<h1>Opret ny person</h1>

<div class="content-container">
	<label for="name">
		Navn
	</label>
	<input type="text"
		[(ngModel)]="name"
		id="name"
		autocomplete="off">

	<label for="gender">
		Køn
	</label>
	<select [(ngModel)]="gender">
		<option value="male">
			Hankøn
		</option>
		<option value="female">
			Hunkøn
		</option>
		<option value="other">
			Andet
		</option>
	</select>

	<label for="born">
		Født
	</label>
	<input type="text"
		[(ngModel)]="born"
		id="born"
		autocomplete="off">

	<label for="dead">
		Død
	</label>
	<input type="text"
		[(ngModel)]="dead"
		id="dead"
		autocomplete="off">

	<h2>
		Relationer
	</h2>
	<button type="button"
		class="add-relation"
		(click)="addRelation()">
		Tilføj relation
	</button>
	<ul>
		<li *ngFor="let relation of relations"
			class="relation-row">

			<select [(ngModel)]="relation.id">
				<option value="1">
					Jens Jensen
				</option>
				<option value="2">
					Hanne Hansen
				</option>
				<option value="3">
					Jesus Kristus
				</option>
			</select>

			<select [(ngModel)]="relation.type">
				<option value="parent">
					Forælder
				</option>
				<option value="child">
					Barn
				</option>
				<option value="partner">
					Partner
				</option>
			</select>

			<button type="button"
				class="delete"
				(click)="deleteRelation(relation)">
				Slet
			</button>
		</li>
	</ul>
</div>

<div class="btn-container">
	<button type="button"
		class="add-person"
		(click)="add()"
		[disabled]="!name">
		Opret person
	</button>
</div>