:host {
	height: 100%;
}

.game-container {
	display: grid;
	grid-template-columns: 2rem 2rem 2rem;
	grid-template-rows: 2rem 2rem 2rem;
}

.game-field {
	line-height: 2rem;
	text-align: center;
	border: 1px solid black;
}
