<div class="message">{{message}}</div>

<button type="button"
	class="start"
	(click)="restart()">
	Start nyt spil
</button>

<ol>
	<li *ngFor="let player of players">
		<input [(ngModel)]="player.name" placeholder="Spillernavn">
		<input [(ngModel)]="player.color" placeholder="Farve">
	</li>
</ol>

<button type="button"
	class="add-player"
	(click)="addPlayer()">
	Tilføj spiller
</button>

<div class="game-container">
	<div *ngFor="let position of positions"
		class="game-field"
		(click)="select(position.x, position.y)"
		[style.backgroundColor]="colorFor(position)"
		[class.selected]="isSelected(position)">
	</div>
</div>
