:host {
	height: 100%;
}

.game-container {
	display: grid;
	grid-template-columns: repeat(8, 2rem);
	grid-template-rows: repeat(8, 2rem);
}

.game-field {
	line-height: 2rem;
	text-align: center;
	border: 1px solid black;
}
