@use "../../styles/general.scss";

:host {
	@extend .default-page;
	display: grid;
	grid-template-areas: "settings game players";
	grid-template-columns: 15rem 1fr;
}

lundin-virus-game {
	grid-area: game;
	margin: auto;
}
lundin-settings { grid-area: settings; }
lundin-players { grid-area: players; }
