@use "apps/lundin/src/app/styles/mixins/colour.scss";

* {
	font-family: "Segoe UI", "Calibri";
}

body {
	background-color: var(--color-background);
}

.default-page {
	padding: 1rem;
	display: block;
	height: 100%;
	box-sizing: border-box;
}

.default-background {
	background-image: url("../../../public/assets/images/background.jpg");
	background-size: cover;
	background-position-y: center;
}

@media (prefers-color-scheme: dark) {
	.default-background {
		background-image: unset;
	}
}

/* Custom styling for buttons */

.button, button:not(.clear) {
	background-color: var(--color-neutral);
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	border-radius: var(--border-radius-full);
	color: var(--color-text-light);
	outline: unset;
}

.button:hover, button:not(.clear):hover {
	background-color: var(--color-neutral-hover);
}

.button:disabled, button:not(.clear):disabled {
	background-color: var(--color-disabled-button);
}

.btn-positive {
	background-color: var(--color-positive);
}

.btn-positive:hover {
	background-color: var(--color-positive-hover);
}

.btn-negative {
	background-color: var(--color-negative);
}

.btn-negative:hover {
	background-color: var(--color-negative-hover);
}

/* Styling for inputs, textareas, select and labels */

input,
textarea,
select {
	@include colour.input-area;
	height: 2rem;
	line-height: 2rem;
	padding: 0 0.5rem;
	border-radius: var(--border-radius-half);
}

textarea {
	padding-top: 0.5rem;
	line-height: 1rem;
	height: 5rem;
	resize: vertical;
}

input[type="checkbox"] {
	margin-top: 0.5rem;
	height: 1rem;
}

header.container-header {
	@include colour.header;
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	padding: 0.2rem 0.5rem;
	line-height: 1.7rem;
	border-top-left-radius: 0.9rem;
	border-top-right-radius: 0.9rem;
}

.sub-header {
	@include colour.header;
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	padding: 0 0.5rem;
	line-height: 1.5rem;
}

.lowered-label {
	position: relative;
	top: 0;
	left: 0.5rem;
	line-height: 2rem;
	height: 0;
	width: 0;
	opacity: 0.7;
	white-space: nowrap;
	transition: var(--standard-transition);
}

.raised-label {
	position: relative;
	display: inline;
	width: fit-content;
	top: -0.5rem;
	left: 0.5rem;
	line-height: 1rem;
	height: 0;
	width: 0;
	font-size: 12px;
	text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
	white-space: nowrap;
	transition: var(--standard-transition);

	@media (prefers-color-scheme: dark) {
		text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
	}
}

/* Custom styling for scrollbars */

.scroll-container {
	overflow-y: scroll;
	width: calc(100% - 0.5rem);
	margin-top: 0.5rem;
}

.scroll-container::-webkit-scrollbar-track {
	border-radius: var(--border-radius-full);	
	background-color: white; /* TODO */
}

.scroll-container::-webkit-scrollbar {
	width: 1rem;
}

.scroll-container::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-full);
	background-color: var(--color-neutral);
}

/* Various */

.container-box {
	@include colour.content-area;
	border-radius: var(--border-radius-full);
	/* border: 1px solid var(--color-border);*/
	padding-bottom: 0.5rem;
}