@use "apps/lundin/src/app/styles/mixins/colour.scss";

:host {
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	border-radius: 0.5rem;
}

h1 {
	@include colour.header;
	font-size: 1.3rem;
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 0.5rem;
	text-align: center;
}

.content-container {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.btn-container {
	display: flex;
	padding: 0.5rem;
	gap: 0.5rem;
}

button {
	flex: 1;
}
