:host {
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	border-radius: 0.5rem;
}

h1 {
	font-size: 1.3rem;
	background-color: var(--color-primary);
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 0.5rem;
	color: var(--color-text-light);
	text-align: center;
}

.content-container {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.btn-container {
	display: flex;
	padding: 0.5rem;
}

button {
	flex: 1;
}
