
html {
    /* Colors */
	--color-text-dark: #101010;
	--color-text-light: white;

	--color-btn-positive: #7c9464;
	--color-btn-positive-hover: #81AF74;
	--color-btn-neutral: #33648f;
	--color-btn-neutral-hover: #4A80BE;
	--color-btn-negative: #aa5454;
	--color-btn-negative-hover: #CE6969;
	
	--color-btn-disabled: #AFAFAF;

	--color-primary: #90ab89;
	--color-secondary: #e0e8e3;
	--color-background:#f4f6f2;

	--color-border: #d4d4d4;
	
	/* sizes */
	--border-radius-half: 0.5rem;
	--border-radius-full: 1rem;

	/* various */
	--standard-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.25);
	--standard-transition: 0.3s ease;
}