html {
	/* Colors */
	--color-text-dark: #101010;
	--color-text-light: white;

	--color-positive: #7c9464;
	--color-positive-hover: #81AF74;
	--color-neutral: #33648f;
	--color-neutral-hover: #4A80BE;
	--color-negative: #aa5454;
	--color-negative-hover: #CE6969;

	--color-disabled-button: #AFAFAF;

	--color-side-bar: #f4f6f2;
	--color-side-bar-hover: #e0e8e3;
	--color-header: #90ab89;
	--color-sub-header: #e0e8e3;
	--color-background: #f4f6f2;
	--color-box: #f4f6f2;
	--color-input-area: #ffffff;
	--color-content-area: rgba(255, 255, 255, 0.75);

	--color-border: #d4d4d4; /* TODO */

	/* sizes */
	--border-radius-half: 0.5rem;
	--border-radius-full: 1rem;

	/* various */
	--standard-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.25);
	--standard-transition: 0.3s ease;

	@media (prefers-color-scheme: dark) {
		--color-side-bar: #222222;
		--color-side-bar-hover: #111111;
		--color-header: #313131;
		--color-sub-header: #111111;
		--color-background: #272727;
		--color-box: #rgba(20, 20, 20, 0.75);
		--color-input-area: #444444;
		--color-content-area: rgba(0, 0, 0, 0.75);

		color: var(--color-text-light);
	}
}