<h1>{{file.name}}</h1>

<div class="content-container">
  @if (isImage(file)) {
    <img
      [src]="pathFor(file)"
      [alt]="file.name">
  }
  @if (!isImage(file)) {
    <span
      class="file-text-item">
      {{file.name}}
    </span>
  }
</div>

<div class="description">
  {{file.description}}
</div>

<div class="btn-container">
  <button type="button"
    class="edit"
    (click)="save()">
    Ret beskrivelse
  </button>

  <button type="button"
    class="save"
    (click)="save()">
    Download
  </button>

  <button type="button"
    class="cancel"
    (click)="cancel()">
    Annuller
  </button>
</div>
