<header class="container-header">
  <h1>{{currentPerson?.name}} - stamtræ</h1>
  <div class="btn-container">
    <button type="button"
      (click)="navigateToDetails()">
      Persondetaljer
    </button>
  </div>
</header>
<section class="tree-container">
  @if (children.length) {
    <div
      class="generation">
      @for (person of children; track person) {
        <lundin-ancestry-tree-node
          [person]="person">
        </lundin-ancestry-tree-node>
      }
    </div>
  }
  @for (generation of generations; track generation) {
    <div
      class="generation">
      @for (person of generation; track person) {
        <lundin-ancestry-tree-node
          [person]="person">
        </lundin-ancestry-tree-node>
      }
    </div>
  }
</section>
