.person {
	width: 10rem;
	height: 100%;
	float: left;
	border-right: 1px solid black;
	display: flex;
}

.parents {
	display: grid;
	height: 100%;
	float: left;
}

.mother {
	height: 100%;
	float: left;
}

.father {
	height: 100%;
	float: left;
}

p {
	text-align: center;
	display: block;
	width: 100%;
	margin: auto 0;
}