@import "../../../styles/general.scss";

.tree-container {
	@extend .container-box;
	height: calc(100% - 1.5rem);
}

.ancestry-tree {
    padding: 0.5rem;
    display: flex;
    height: calc(100% - 3rem);
}