.person {
	width: 10rem;
	height: 100%;
	float: left;
	border: 1px solid black;
	display: flex;
	cursor: pointer;
}

.name {
	font-weight: bold;
}

.male .name {
	color: #008;
}

.female .name {
	color: #800;
}

.parents {
	display: grid;
	height: 100%;
	float: left;
}

.mother {
	height: 100%;
	float: left;
}

.father {
	height: 100%;
	float: left;
}

.person-info {
	margin: auto 0;
	width: 100%;
}

.label {
	text-align: center;
	display: block;
}