:host {
	height: 100%;
	border: 1px solid black;
	display: flex;
	cursor: pointer;
	overflow: hidden;
}

.name {
	font-weight: bold;
}

.male .name {
	color: #008;
}

.female .name {
	color: #800;
}

.person-info {
	margin: auto 0;
	width: 100%;
}

.label {
	text-align: center;
	display: block;
}