<ng-container>
	<div class="person"
		(click)="navigateToPerson()"
		[style.cursor]="personNode ? 'pointer' : 'initial'">
		<div *ngIf="personNode && personNode.person"
			class="person-info">
			<div class="label">{{personNode.person.name}}</div>
			<div *ngIf="generations > 2"
				class="label">Født: {{bornText()}}</div>
			<div *ngIf="generations > 2"
				class="label">Død: {{deadText()}}</div>
		</div>
	</div>
	<div class="parents">
		<div class="father">
			<lundin-ancestry-tree-node *ngIf="generations > 1"
				[personNode]="personNode?.father"
				[generations]="generations - 1"></lundin-ancestry-tree-node>
		</div>
		<div class="mother">
			<lundin-ancestry-tree-node *ngIf="generations > 1"
				[personNode]="personNode?.mother"
				[generations]="generations - 1"></lundin-ancestry-tree-node>
		</div>
	</div>
</ng-container>
