.file-display { padding: 0.2rem; }
lundin-file-input, .file-display { margin-bottom: 0.5rem; }

.save {
	background-color: var(--color-btn-positive);
}

#description {
	margin-bottom: 0.5rem;
}

.top-content-container {
	display: flex;
}

.top-content {
	flex: 1;
}

#ingredients {
	height: 20rem;
}

#steps {
	height: 35.8rem;
}

#time {
	margin-bottom: 0.5rem;
}

#amount {
	margin-bottom: 0.5rem;
}

.left-content {
	margin-top: 0.5rem;
}