@import "../../styles/general.scss";

:host {
	@extend .default-page;
	display: grid;
	grid-template-areas: "settings game highscores";
	grid-template-columns: 15rem 1fr 15rem;
	grid-template-rows: calc(100vh - 5rem);
}

.game-host {
	grid-area: game;
	height: 60%;
}
lundin-minestryger-game {
	grid-area: game;
	margin: auto;
}
lundin-minestryger-settings { grid-area: settings; }
lundin-minestryger-highscores { grid-area: highscores; }
