:host {
	height: 100%;
	display: grid;
	grid-template-areas: "settings game"
		"highscore game";
		grid-template-columns: 10rem 1fr;
}

lundin-minestryger-game { grid-area: game; }

lundin-minestryger-settings { grid-area: settings; }
