<lundin-minestryger-game [width]="width"
	[height]="height"
	[bombs]="bombs"
	[allowFlags]="allowFlags"
	[activateOnMouseDown]="activateOnMouseDown"
	[fieldSize]="fieldSize">
</lundin-minestryger-game>
<lundin-minestryger-settings [(width)]="width"
	[(height)]="height"
	[(bombs)]="bombs"
	[(allowFlags)]="allowFlags"
	[(activateOnMouseDown)]="activateOnMouseDown"
	[(fieldSize)]="fieldSize"
	(triggerNewGame)="triggerNewGame()">
</lundin-minestryger-settings>
<lundin-minestryger-highscores [category]="currentCategory()"></lundin-minestryger-highscores>
