<h1>Opret ny besked</h1>

<div class="content-container">
  @if (!threadId) {
    <input
      type="text"
      [(ngModel)]="title"
      id="title"
      placeholder="Titel"
      autocomplete="off">
  }

  <textarea type="text"
    [(ngModel)]="content"
    id="content"
    placeholder="Indhold"
    autocomplete="off">
  </textarea>
</div>

<div class="btn-container">
  <button type="button"
    (click)="addMessage()"
    [disabled]="!content || (!threadId && !title)">
    Opret besked
  </button>
</div>
