<h1>Tilføj ny opskrift</h1>

<div class="content-container">
	<label for="name"
		[labelling]="nameInput">
		Opskrift navn
	</label>
	<input #nameInput
		type="text"
		[(ngModel)]="recipe.title"
		id="name"
		autocomplete="off">

	<div class="top-content-container">
		<div class="top-content left-content">
			<lundin-image-input [existingImagePath]="imagePath()"
				(changeFile)="handleFile($event)">
			</lundin-image-input>
			<div class="content-container">
				<label for="time"
					[labelling]="timeInput">
					Tid det tager
				</label>
				<input #timeInput
					type="text"
					[(ngModel)]="recipe.time"
					id="time"
					autocomplete="off">

				<label for="amount"
					[labelling]="amountInput">
					Til antal personer
				</label>
				<input #amountInput
					type="text"
					[(ngModel)]="recipe.persons"
					id="amount"
					autocomplete="off">

				<label for="ingredients"
					[labelling]="ingredientsInput">
					Ingredienser
				</label>
				<textarea #ingredientsInput
					type="text"
					[(ngModel)]="recipe.ingredients"
					id="ingredients"
					autocomplete="off"></textarea>
			</div>
		</div>

		<div class="top-content content-container">
			<label for="steps"
				[labelling]="stepsInput">
				Opskrift trin
			</label>
			<textarea #stepsInput
				[(ngModel)]="recipe.description"
				id="steps"
				autocomplete="off"></textarea>
		</div>

	</div>


</div>

<div class="btn-container">
	<button type="button"
		class="save"
		(click)="save()">
		Gem opskrift
	</button>

	<button type="button"
		class="cancel"
		(click)="cancel()">
		Annuller
	</button>
</div>
