@use "apps/lundin/src/app/styles/mixins/colour.scss";

.entry {
	cursor: pointer;
	@extend .list-entry-container;
}
.entry * { padding: 0.2rem; }

.title { grid-area: title; }
.date { grid-area: date; }
.content { grid-area: content; }

.title { font-weight: bold; }
.date { text-align: right; }

.list-entry-container {
	margin: 0.2rem 0.5rem;
	border-radius: var(--border-radius-half);
}

.list-entry-content {
	display: flex;
	justify-content: space-between;
}

.message-header {
	border-top-left-radius: var(--border-radius-half);
	border-top-right-radius: var(--border-radius-half);
	@extend .list-entry-content;
	@include colour.sub-header;
}

.message-content {
	border-bottom-left-radius: var(--border-radius-half);
	border-bottom-right-radius: var(--border-radius-half);
	@extend .list-entry-content;
	@include colour.box;
}