@use "apps/lundin/src/app/styles/mixins/colour.scss";
@use "../../styles/general.scss";

:host {
	@extend .default-page;
}

h1 {
	@include colour.header;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem;
	border-radius: var(--border-radius-half);
}

a {
	@include colour.neutral;
	display: inline-block;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 2rem;
	margin: 1rem;
	width: 15rem;
	transition: var(--standard-transition);
}
