:host {
	display: flow-root;
	height: 100%;
}

h1 {
	background-color: var(--color-primary);
	color: var(--color-text-light);
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem;
	border-radius: var(--border-radius-half);
}

a {
	display: inline-block;
	background-color: var(--color-btn-neutral);
	color: var(--color-text-light);
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 2rem;
	margin: 1rem;
	width: 15rem;
	transition: var(--standard-transition);
}
a:hover { background-color: var(--color-btn-neutral-hover); }
