@import "../../../styles/general.scss";

.thread-container {
	display: flex;
}

.thread-content-container {
	@extend .container-box;
	width: 100%;
	min-height: 14rem;
	height: calc(100vh - 5rem);
}

.thread-subheading {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem;
}

.thread-author { font-weight: bold; }
.thread-content {
	padding: 0.5rem;
	white-space: pre;
}
.thread-subject { border-bottom: 1px solid var(--color-primary); }

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	background-color: var(--color-primary);
}

button + .response {
	border-top: 1px solid var(--color-border);
}
.response * { padding: 0.2rem; }

.list-entry-container {
	border: 1px solid var(--color-primary);
	margin: 0.2rem 0.5rem;
	border-radius: var(--border-radius-half);
}

.response {
	@extend .list-entry-container;
	overflow: hidden;
}

.response-date { text-align: right; }
.response-author { font-weight: bold; }

.response-header {
	@extend .list-entry-content;
	background-color: var(--color-secondary);
}

.response-content {
	@extend .list-entry-content;
	background-color: white;
	white-space: pre;
}

.list-entry-content {
	display: flex;
	justify-content: space-between;
}

.thread {
	@extend .scroll-container;
	height: calc(100% - 3rem);
}

.btn-container {
	display: flex;
	gap: 0.5rem;
}
