<h1>{{thread.title}}</h1>
<div class="thread-content">
	{{thread.content}}
</div>
<div class="thread-author">
	{{thread.authorId | user | async }}
</div>
<div class="thread-date">
	{{thread.creationTime | date}}
</div>

<div class="responses">
	<button type="button"
		(click)="addResponse()">
		Svar
	</button>

	<div *ngFor="let response of thread.responses"
		class="response">
		<div class="response-content">
			{{response.content}}
		</div>
		<div class="response-author">
			{{response.authorId | user | async}}
		</div>
		<div class="response-date">
			{{response.creationTime | date}}
		</div>
	</div>
</div>
