:host {
	display: grid;
}

.game-field {
	line-height: 2rem;
	text-align: center;
	border: 1px solid black;
}

.selected{
	outline: 3px solid white;
	outline-style: solid;
	outline-offset: -4px;
}

.message {
	grid-column: 1 / -1;
	text-align: center;
	line-height: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	border-top-left-radius: var(--border-radius-half);
	border-top-right-radius: var(--border-radius-half);
	color: var(--color-text-light);
	background: var(--color-primary);
	border-style: solid;
	border-left-width: 3rem;
	border-right-width: 3rem;
}
