<ol *ngIf="!currentAlbum"
	class="albums">
	<input type="text"
		placeholder="Søg"
		[(ngModel)]="query"
		(input)="query$.next(query)" />
	<li *ngFor="let album of shownAlbums ?? albums"
		class="album"
		(click)="selectAlbum(album)">
		<img [src]="'api/music/files/' + album.cover">
		<div class="artist">{{album.artist}}</div>
		<div class="title">{{album.album}}</div>
	</li>
</ol>


<div *ngIf="currentAlbum"
	class="selected-album">
	<div class="info">
		<div class="buttons">
			<button (click)="currentAlbum = null">
				Tilbage
			</button>
		</div>
		<img [src]="'api/music/files/' + currentAlbum.cover">
		<div class="artist">{{currentAlbum.artist}}</div>
		<div class="title">{{currentAlbum.album}}</div>
	</div>
	<lundin-tracklist [tracks]="currentAlbum.tracks"></lundin-tracklist>
</div>
