@import "../../styles/general.scss";

:host {
	display: grid;
	grid-template-areas:
		"tabs"
		"tab"
		"current";
	grid-template-rows: 2.5rem calc(100% - 6.5rem) 4rem;
	height: 100%;
}

.tabs {
	grid-area: tabs;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		flex: 1;
		border-radius: 0;
	}
}

.tab {
	grid-area: tab;
}

.current-song {
	grid-area: current;
}

.scroll-list-container {
	@extend .scroll-container;
	height: 100%;
	margin: 0;
}

.track-list-header {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	line-height: 1.5rem;
	padding: 0 0.5rem;
	
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);

	* {
		white-space: nowrap;
		overflow: hidden;
	}
}



lundin-track:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

lundin-track:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.05);
}

lundin-track:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

audio {
	width: 100%;
}