<section class="tabs">
	<button class="tab"
		(click)="selectTab('library')">Bibliotek</button>
	<button class="tab"
		(click)="selectTab('album')">Albummer</button>
	<button class="tab"
		(click)="selectTab('playlist')">Spillelister</button>
	<button class="tab"
		(click)="selectTab('current')">Kø</button>
</section>

<section *ngIf="currentTab === 'library'"
	class="library-tab">
	<lundin-tracklist [tracks]="musicService.tracksAll">
	</lundin-tracklist>
</section>

<section *ngIf="currentTab === 'album'"
	class="album-tab">
	<lundin-albums></lundin-albums>
</section>

<section *ngIf="currentTab === 'playlist'"
	class="playlist-tab">
	<lundin-playlists></lundin-playlists>
</section>

<section *ngIf="currentTab === 'current'"
	class="current-tab">
	<lundin-tracklist [tracks]="musicService.tracksQueue"
		[isQueue]="true"
		[showRemoveButtons]="true"
		(remove)="musicService.removeFromQueue($event.identifier)"
		[randomiseLocally]="false"
		(randomise)="musicService.randomiseQueue()">
	</lundin-tracklist>
</section>

<section class="current-song">
	<div>{{currentSong}}</div>
	<audio #audioPlayer
		controls>
		Your browser does not support the audio element.
	</audio>
</section>
