@import "../../styles/general.scss";

:host {
	display: grid;
	grid-template-areas:
		"tabs"
		"tab"
		"current";
	grid-template-rows: 2.5rem calc(100% - 7.5rem) 5rem;
	height: 100%;
}

.tabs {
	grid-area: tabs;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		flex: 1;
		border-radius: 0;
	}
}

.tab {
	grid-area: tab;
}

.current-song {
	grid-area: current;
}

.scroll-list-container {
	@extend .scroll-container;
	height: 100%;
	margin: 0;
}

audio {
	width: 100%;
}