<section class="tabs">
  <button class="tab"
  (click)="selectTab('library')">Bibliotek</button>
  <button class="tab"
  (click)="selectTab('album')">Albummer</button>
  <button class="tab"
  (click)="selectTab('playlist')">Spillelister</button>
  <button class="tab"
  (click)="selectTab('current')">Kø</button>
</section>

@if (currentTab === 'library') {
  <section
    class="library-tab">
    <lundin-tracklist [tracks]="musicService.tracksAll">
    </lundin-tracklist>
  </section>
}

@if (currentTab === 'album') {
  <section
    class="album-tab">
    <lundin-albums></lundin-albums>
  </section>
}

@if (currentTab === 'playlist') {
  <section
    class="playlist-tab">
    <lundin-playlists></lundin-playlists>
  </section>
}

@if (currentTab === 'current') {
  <section
    class="current-tab">
    <lundin-tracklist [tracks]="musicService.tracksQueue"
      [isQueue]="true"
      [showRemoveButtons]="true"
      (remove)="musicService.removeFromQueue($event.identifier)"
      [randomiseLocally]="false"
      (randomise)="musicService.randomiseQueue()">
    </lundin-tracklist>
  </section>
}

<section class="current-song">
  <lundin-audio-player></lundin-audio-player>
</section>
