<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@if (!currentPlaylist) {
  <ol
    class="playlists">
    @for (playlist of playlists; track playlist) {
      <li
        class="playlist"
        (click)="selectPlaylist(playlist)">
        <div class="title">{{playlist.title}}</div>
        <div class="user">{{playlist.userId | user | async}}</div>
      </li>
    }
  </ol>
}

@if (currentPlaylist) {
  <div
    class="selected-playlist">
    <div class="info">
      <div class="buttons">
        <button (click)="currentPlaylist = null">
          Tilbage
        </button>
        <button class="btn-negative"
          (click)="deletePlaylist()">
          {{ isDeleting ? "Virkelig slet?" : "Slet" }}
        </button>
      </div>
      <div class="title">{{currentPlaylist.title}}</div>
      <div class="user">{{currentPlaylist.userId | user | async}}</div>
    </div>
    <lundin-tracklist [tracks]="tracksFor(currentPlaylist)!"
      [showRemoveButtons]="true"
      (remove)="removeFromPlaylist($event)">
    </lundin-tracklist>
  </div>
}
