<div class="settings-and-search">
	<input type="text"
		placeholder="Søg"
		[(ngModel)]="query"
		(input)="query$.next(query)"/>
	<div *ngFor="let column of columns | keyvalue:onCompare"
		class="column-setting">
		<input type="checkbox"
			[id]="column.key"
			[(ngModel)]="column.value.enabled"
			(change)="updateEnabledColumns()">
		<label [for]="column.key">{{column.value.title}}</label>
	</div>
</div>

<div class="track-list-header">
	<div *ngFor="let column of enabledColumns"
		[style.flex]="column.size ?? 1">
		{{column.title}}
	</div>
</div>
<lundin-track *ngFor="let track of shownTracks ?? tracks"
	[track]="track"
	[fields]="enabledColumns"
	[showQueueButtons]="!isQueue"
	[isPlaying]="isQueue && musicService.queue[musicService.playingIndex] === track.identifier">
</lundin-track>
