<div class="settings-and-search">
  <input type="text"
    placeholder="Søg"
    [(ngModel)]="query"
    (input)="query$.next(query)" />

  @if (!isQueue) {
    <button
      (click)="playAll()">
      Afspil
    </button>
    <button
      (click)="addToQueue()">
      Tilføj til kø
    </button>
  }
  <button (click)="addToPlaylist()">
    Tilføj til liste...
  </button>
  <button (click)="randomiseTracks()">
    Bland
  </button>

  <button (click)="showColumnSettings = !showColumnSettings">
    Redigér kolonner
  </button>

  <div class="column-settings" [class.collapsed]="!showColumnSettings">
    @for (column of columns | keyvalue:onCompare; track column) {
      <div
        class="column-setting">
        <input type="checkbox"
          [id]="column.key"
          [(ngModel)]="column.value.enabled"
          (change)="updateEnabledColumns()">
        <label [for]="column.key">{{column.value.title}}</label>
      </div>
    }
  </div>
</div>

<div class="track-list-header">
  @for (column of enabledColumns; track column) {
    <div
      [style.flex]="column.size ?? 1">
      {{column.title}}
    </div>
  }
</div>
@for (track of shownTracks ?? tracks; track track; let i = $index) {
  <div
    class="track-container"
    #container>
    @if (isVisible(container, i)) {
      <lundin-track
        [track]="track"
        [fields]="enabledColumns"
        [showQueueButtons]="!isQueue"
        [showRemoveButton]="showRemoveButtons"
        [isPlaying]="isQueue && musicService.queue[musicService.currentIndex!] === track.identifier"
        (remove)="remove.emit(track)">
      </lundin-track>
    }
  </div>
}
