<div *ngFor="let field of fields; let i = index"
	class="field">
	{{isPlaying && i === 0 ? "⏵" : ""}}
	{{track[field]}}
</div>
<div *ngIf="active"
	class="buttons"
	[class.collapsed]="collapsed">
	<img *ngIf="!isPlaying"
		src="/assets/images/icons/play.svg"
		(click)="handlePlay($event)"
		alt="play">
	<img *ngIf="isPlaying"
		src="/assets/images/icons/pause.svg"
		(click)="handlePause($event)"
		alt="pause">
	<button *ngIf="showQueueButtons"
		(click)="musicService.addAsNext(track.identifier); $event.stopPropagation();">
		Tilføj som næste
	</button>
	<button *ngIf="showQueueButtons"
		(click)="musicService.addAsLast(track.identifier); $event.stopPropagation();">
		Tilføj som sidste
	</button>
</div>
