:host {
	display: flex;
	position: relative;

	line-height: 1.5rem;
	cursor: pointer;
}

.field {
	white-space: nowrap;
	overflow: hidden;
}

img {
	width: 1rem;
	height: 1rem;
	padding: 0.25rem;
	box-sizing: content-box;
}
img.fixed {
	opacity: 0;
}
:host:hover img.fixed {
	opacity: 1;
}

.buttons {
	display: flex;
	position: absolute;
	right: 0;
	height: 1.5rem;
	max-width: 30rem;
	overflow: hidden;
	background-color: var(--color-btn-neutral);
	transition: 0.3s ease;

	img {
		padding: 0.25rem 0.5rem;
	}
}

.collapsed {
	max-width: 0;
}

button {
	border-radius: 0;
	height: 1.5rem;
	line-height: 1.5rem;
	white-space: nowrap;
}

img, button {
	transition: 0.3s ease;
	background-color: transparent;
}
img:hover, button:hover {
	background-color: var(--color-btn-neutral-hover);
}
img.negative:hover {
	background-color: var(--color-btn-negative-hover);
}
