<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@if (!isPlaying) {
  <img
    class="fixed"
    src="/assets/images/icons/play.svg"
    (click)="handlePlay(); $event.stopPropagation();"
    alt="play">
}
@if (isPlaying) {
  <img
    class="fixed"
    src="/assets/images/icons/pause.svg"
    (click)="handlePause(); $event.stopPropagation();"
    alt="pause">
}
@for (field of fields; track field; let i = $index) {
  <div
    class="field"
    [style.flex]="field.size ?? 1">
    {{isPlaying && i === 0 ? "⏵" : ""}}
    {{field.titleFor(track)}}
  </div>
}
@if (showQueueButtons && !showRemoveButton) {
  <img
    class="fixed"
    src="/assets/images/icons/plus.svg"
    (click)="handleAddLast(); $event.stopPropagation();"
    alt="pause">
}
@if (showRemoveButton) {
  <img
    class="fixed negative"
    src="/assets/images/icons/Close_icon.svg"
    (click)="handleRemove(); $event.stopPropagation();"
    alt="pause">
}
@if (active) {
  <div
    class="buttons"
    [class.collapsed]="collapsed">
    @if (showQueueButtons) {
      <button
        (click)="handleAddNext(); $event.stopPropagation();">
        Tilføj som næste
      </button>
    }
    @if (showQueueButtons) {
      <button
        (click)="handleAddLast(); $event.stopPropagation();">
        Tilføj som sidste
      </button>
    }
    <button (click)="setRating(1); $event.stopPropagation();">
      1 ★
    </button>
    <button (click)="setRating(2); $event.stopPropagation();">
      2 ★
    </button>
    <button (click)="setRating(3); $event.stopPropagation();">
      3 ★
    </button>
    <button (click)="setRating(4); $event.stopPropagation();">
      4 ★
    </button>
    <button (click)="setRating(5); $event.stopPropagation();">
      5 ★
    </button>
    <button (click)="handleAddToList(); $event.stopPropagation();">
      Tilføj til liste...
    </button>
  </div>
}
