<div class="settings-and-search">
	<input type="text"
		placeholder="Søg"
		[(ngModel)]="query"
		(input)="query$.next(query)" />
	<div *ngFor="let column of columns | keyvalue:onCompare"
		class="column-setting">
		<input type="checkbox"
			[id]="column.key"
			[(ngModel)]="column.value.enabled"
			(change)="updateEnabledColumns()">
		<label [for]="column.key">{{column.value.title}}</label>
	</div>
	<button (click)="addToPlaylist()">Tilføj til liste...</button>
</div>

<div class="track-list-header">
	<div *ngFor="let column of enabledColumns"
		[style.flex]="column.size ?? 1">
		{{column.title}}
	</div>
</div>
<div *ngFor="let track of shownTracks ?? tracks; let i = index"
	class="track-container"
	#container>
	<lundin-track *ngIf="isVisible(container, i)"
		[track]="track"
		[fields]="enabledColumns"
		[showQueueButtons]="!isQueue"
		[showRemoveButton]="showRemoveButtons"
		[isPlaying]="isQueue && musicService.queue[musicService.playingIndex] === track.identifier"
		(remove)="remove.emit(track)">
	</lundin-track>
</div>
