<label for="encryption-key">
	Krypteringsnøgle
</label>
<input type="password"
	[(ngModel)]="key"
	id="encryption-key"
	placeholder="MinHemmeligeNøgle">

<label for="encrypted">
	Krypteret indhold
</label>
<input type="text"
	[(ngModel)]="encrypted"
	id="encrypted"
	readonly>

<button (click)="decrypt()">Dekryptér</button>

<label for="content">
	Indhold
</label>
<textarea #textarea [(ngModel)]="content"
	id="content"
	placeholder="Min hemmelige dagbog"
	(keydown)="insertTab(textarea, $event)">
</textarea>

<button (click)="encrypt()">Kryptér og gem</button>
