@import "../../styles/general.scss";

:host {
	@extend .default-page;
	display: flex;
	flex-direction: column;
}

textarea {
	flex: 1;
	tab-size: 4;
}

label { line-height: 1.5rem; }
input, textarea { margin-bottom: 0.2rem;}
