<section class="recipes-container">
	<header class="container-header">
		<h1>Familie opskrifter (Funktionalitet halvt implementeret)</h1>
		<button type="button"
			(click)="add()">
			Tilføj ny opskrift
		</button>
	</header>

	<section class="search-container">
		<input type="text"
			placeholder="Søg i opskrifter"
			autocomplete="off">
	</section>

	<ul class="recipes-img-list">
		<li *ngFor="let recipe of recipes" class="recipes-list-item"
			(click)="open(recipe)">
			<img [src]="pathFor(recipe.fileId)">
			<span class="img-description">{{recipe.title}}</span>
		</li>
	</ul>
</section>
