.thread {
	@extend .list-entry-container;
	border-bottom: 1px solid var(--color-border);
	cursor: pointer;
	overflow: hidden;
}
.thread:first-child {
	border-top: 1px solid var(--color-border);
}
.thread:hover {
	background-color: var(--color-secondary);
}
.thread * { padding: 0.2rem; }

.title { font-weight: bold; }
.date { text-align: right; }
.author { text-align: right; }

.list-entry-container {
	border: 1px solid var(--color-primary);
	margin: 0.2rem 0.5rem;
	border-radius: var(--border-radius-half);
}

.list-entry-content {
	display: flex;
	justify-content: space-between;
}

.message-header {
	@extend .list-entry-content;
	background-color: var(--color-secondary);
}

.message-content {
	@extend .list-entry-content;
	background-color: var(--color-background);
}
