@use "apps/lundin/src/app/styles/mixins/colour.scss";

:host{ margin-right: 0.5rem; }

h1 {
	@include colour.header;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
}

h1 button {
	float: right;
	border-radius: 0;
	width: 3rem;
	padding: 0;
}

h2 {
	@include colour.sub-header;
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
}

div {
	display: flex;
	line-height: 1.5rem;
	padding: 0 0.5rem;
}

.name {
	margin-right: auto;
}
