:host{ margin-right: 0.5rem; }

h1 {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
	background-color: var(--color-primary);
	color: var(--color-text-light);
}

h1 button {
	float: right;
	border-radius: 0;
}

h2 {
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
	background-color: var(--color-secondary);
	color: var(--color-text-dark);
}

div {
	display: flex;
	line-height: 1.5rem;
	padding: 0 0.5rem;
}

.name {
	margin-right: auto;
}
