<h1>Rekordtider</h1>

<ng-container *ngIf="topScores$ | async as topScores">
	<h2>Begynder (med flag)</h2>
	<div *ngFor="let score of topScores.beginnerFlags"
		[title]="score.date">
		<span class="name">{{score.userId | user | async}}:</span>
		<span class="time">{{score.time / 1000 | number:'1.2-2'}}s</span>
	</div>

	<h2>Øvet (med flag)</h2>
	<div *ngFor="let score of topScores.trainedFlags"
		[title]="score.date">
		<span class="name">{{score.userId | user | async}}:</span>
		<span class="time">{{score.time / 1000 | number:'1.2-2'}}s</span>
	</div>

	<h2>Ekspert (med flag)</h2>
	<div *ngFor="let score of topScores.expertFlags"
		[title]="score.date">
		<span class="name">{{score.userId | user | async}}:</span>
		<span class="time">{{score.time / 1000 | number:'1.2-2'}}s</span>
	</div>

	<h2>Begynder (ingen flag)</h2>
	<div *ngFor="let score of topScores.beginnerNoFlags"
		[title]="score.date">
		<span class="name">{{score.userId | user | async}}:</span>
		<span class="time">{{score.time / 1000 | number:'1.2-2'}}s</span>
	</div>

	<h2>Øvet (ingen flag)</h2>
	<div *ngFor="let score of topScores.trainedNoFlags"
		[title]="score.date">
		<span class="name">{{score.userId | user | async}}:</span>
		<span class="time">{{score.time / 1000 | number:'1.2-2'}}s</span>
	</div>

	<h2>Ekspert (ingen flag)</h2>
	<div *ngFor="let score of topScores.expertNoFlags"
		[title]="score.date">
		<span class="name">{{score.userId | user | async}}:</span>
		<span class="time">{{score.time / 1000 | number:'1.2-2'}}s</span>
	</div>
</ng-container>

<h1>Mine tider</h1>
<ng-container *ngIf="myScores$ | async as myScores">
	<h2>Nuværende indstillinger</h2>
	<div *ngFor="let score of currentCategory(myScores)">
		<span class="name">{{score.date | date:"yyyy-MM-dd hh:mm"}}</span>
		<span class="time">{{score.time / 1000 | number:'1.2-2'}}s</span>
	</div>
</ng-container>