@use "apps/lundin/src/app/styles/mixins/colour.scss";

h1,
h2 {
	width: 100%;
	text-align: center;
	margin: 1rem 0;
	white-space: wrap;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

input,
button {
	display: block;
	height: unset;
	font-size: 1.2rem;
	margin: 0.5rem auto;
	padding: 0.5rem;
	width: 20rem;
	border-radius: 0.5rem;
}

input {
	box-shadow: inset 0 0 1rem -0.5rem black;
}

.login-container {
	@include colour.content-area;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: auto;
	width: 25rem;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	border-radius: var(--border-radius-full);
}

.login-header {
	width: 15rem;
	margin-right: auto;
	margin-left: auto;
}

.login-subheader {
	font-size: 1.3rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	height: 13rem;
	justify-content: space-between;
}