<h1>Redigér informationer</h1>

<div class="content-container">
	<lundin-file-input (changeFile)="handleFile($event)"></lundin-file-input>
	<div *ngIf="file.data" class="file-display">
		Fil: {{file.data.name}}
	</div>
	<input type="text"
		(input)="file.description = $event.target.value"
		placeholder="Beskrivelse"
		autocomplete="off">
</div>

<div class="btn-container">
	<button type="button"
		class="save"
		(click)="save()">
		Gem ændringer
	</button>

	<button type="button"
		class="cancel"
		(click)="cancel()">
		Fortryd
	</button>
</div>
