<section class="recipes-container">
	<header class="container-header">
		<h1>{{recipe.title}}</h1>
		<button type="button"
			(click)="edit()">
			Redigér
		</button>
	</header>

	<div class="left-content">
		<img [src]="imagePath()"
			alt="todo">
		<label for="time"
			[labelling]="timeInput">
			Tid det tager
		</label>
		<input #timeInput
			type="text"
			id="time"
			autocomplete="off"
			[value]="recipe.time"
			disabled>

		<label for="amount"
			[labelling]="amountInput">
			Til antal personer
		</label>
		<input #amountInput
			type="text"
			id="amount"
			autocomplete="off"
			[value]="recipe.persons"
			disabled>

		<label for="ingredients"
			[labelling]="ingredientsInput">
			Ingredienser
		</label>
		<textarea #ingredientsInput
			type="text"
			id="ingredients"
			autocomplete="off"
			[value]="recipe.ingredients"
			disabled></textarea>
	</div>

	<div class="right-content">
		<label for="description"
			[labelling]="descriptionInput">
			Opskrift trin
		</label>
		<textarea #descriptionInput
			type="text"
			id="description"
			autocomplete="off"
			[value]="recipe.description"
			disabled></textarea>
	</div>
</section>
