:host {
	position: relative;
	height: calc(100% - 2rem);
	display: grid;
	grid-template-areas: "parents parents parents"
		"siblings person partners"
		"children children children";
	grid-auto-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr 1fr 1fr;
	overflow-y: auto;
}

.parents { grid-area: parents; }
.siblings { grid-area: siblings; }
.person { grid-area: person; }
.partners { grid-area: partners; }
.children { grid-area: children; }

section {
	display: flex;
}

lundin-portrait {
	flex: 1;
	margin: auto 0;
}