@if (person) {
  <section class="parents">
    @if (getFather(); as father) {
      <lundin-portrait
        [person]="father"
        relation="parent">
      </lundin-portrait>
    }
    @if (getMother(); as mother) {
      <lundin-portrait
        [person]="mother"
        relation="parent">
      </lundin-portrait>
    }
  </section>
  <section class="siblings">
    @for (sibling of siblings; track sibling) {
      <lundin-portrait
        [person]="sibling"
        relation="sibling">
      </lundin-portrait>
    }
  </section>
  <section class="person">
    <lundin-portrait [person]="person">
    </lundin-portrait>
  </section>
  <section class="partners">
    @for (partner of partners; track partner) {
      <lundin-portrait
        [person]="partner"
        relation="partner">
      </lundin-portrait>
    }
  </section>
  <section class="children">
    @for (child of children; track child) {
      <lundin-portrait
        [person]="child"
        relation="child">
      </lundin-portrait>
    }
  </section>
}