@import "../../../styles/general.scss";

input, select { margin-bottom: 0.5rem; }
section { display: flex; }
section input, section select { flex: 1; }
section input + label { margin-left: 0.5rem; }

.info-list {
    margin-top: 0.5rem;
    @extend .scroll-container;
    max-height: 20rem;
}

.information-row {
    display: flex;
    margin-right: 0.2rem;
}

.info-input-title {
    flex: 3;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.info-input-content {
    flex: 3;
    border-radius: unset;
}

.delete {
    flex: 1;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    background-color: var(--color-btn-negative);
}

.save {
    background-color: var(--color-btn-positive);
}
