<h1>Redigér informationer</h1>

<div class="content-container">
	<button type="button"
		class="add-info"
		(click)="addInformation()">
		Tilføj infolinje
	</button>

	<ul>
		<li *ngFor="let info of information"
			class="information-row">
			<input type="text"
				[(ngModel)]="info.title"
				placeholder="Titel"
				autocomplete="off">
			<input type="text"
				[(ngModel)]="info.content"
				placeholder="Beskrivelse"
				autocomplete="off">
			<button type="button"
				class="delete"
				(click)="deleteInformation(info)">
				Slet
			</button>
		</li>
	</ul>
</div>

<div class="btn-container">
	<button type="button"
		class="save"
		(click)="save()">
		Gem ændringer
	</button>

	<button type="button"
		class="cancel"
		(click)="cancel()">
		Fortryd
	</button>
</div>

