input, select { margin-bottom: 0.5rem; }
section { display: flex; }
section input, section select { flex: 1; }
section input + label { margin-left: 0.5rem; }

.info-list {
    margin-top: 0.5rem;
    @extend .scroll-container;
    max-height: 20rem;
}

.information-row {
    display: flex;
    margin-right: 0.2rem;
}

.info-input-title {
    flex: 3;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.info-input-content {
    flex: 3;
    border-radius: unset;
}

.delete {
    flex: 1;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    background-color: var(--color-btn-negative);
}

.save {
    background-color: var(--color-btn-positive);
}

.scroll-container {
    overflow-y: scroll;
    width: calc(100% - 0.5rem);
    margin-top: 0.5rem;
}

.scroll-container::-webkit-scrollbar-track
{
    border-radius: var(--border-radius-full);
    border: 1px solid var(--color-primary);
	background-color: white;
}

.scroll-container::-webkit-scrollbar
{
	width: 1rem;
	background-color: white;
}

.scroll-container::-webkit-scrollbar-thumb
{
	border-radius: var(--border-radius-full);
	background-color: var(--color-btn-neutral);
}