@use "apps/lundin/src/app/styles/mixins/colour.scss";

:host{ margin-right: 0.5rem; }

h1 {
	@include colour.header;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
	margin-bottom: 0.5rem;
}

button {
	width: 100%;
	margin-bottom: 0.2rem;
}

li {
	display: grid;
	grid-template-areas: "name name"
		"type color";
	grid-gap: 0.2rem;
	grid-template-columns: 3fr 2fr;
	padding: 0.5rem;
	margin-bottom: 0.2rem;
	border-radius: var(--border-radius-half);
}

.name {	grid-area: name; }
.color { width: 100%; }

.setting {
	display: flex;
	margin-bottom: 0.2rem;
}
.setting * { line-height: 2rem; }
.setting label { flex: 1; }
.setting input { width: 4rem; }
.setting button { flex: 1; }