@use "../../styles/general.scss";

:host {
	@extend .default-page;
	display: grid;
	grid-template-areas: "settings game";
	grid-template-columns: 20rem 1fr;
	grid-template-rows: calc(100vh - 5rem);
}

.game-area {
	grid-area: game;
}

.settings-area {
	grid-area: settings;
	margin-right: 0.5rem;
	overflow-y: auto;
}

h1 {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
	margin-bottom: 0.5rem;
	background-color: var(--color-primary);
	color: var(--color-text-light);
}

.setting {
	display: flex;
	margin-bottom: 0.2rem;
}
.setting * { line-height: 2rem; }
.setting label,
.setting button { flex: 1; }
.setting input { width: 4rem; }

.code-setting { margin-bottom: 0.2rem; }
.code-setting textarea {
	width: 100%;
	white-space: pre;
	font-family: "Consolas";
	tab-size: 2;
	font-size: 11px;
}
