:host {
	height: 100%;
	display: grid;
	grid-template-areas: "settings game";
	grid-template-columns: 15rem 1fr;
	grid-template-rows: calc(100vh - 5rem);
}

.game-area {
	grid-area: game;
	margin: auto;
}

.settings-area {
	grid-area: settings;
	margin-right: 0.5rem;
}

h1 {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2rem;
	text-align: center;
	margin-bottom: 0.5rem;
	background-color: var(--color-primary);
	color: var(--color-text-light);
}

.setting {
	display: flex;
	margin-bottom: 0.2rem;
}
.setting * { line-height: 2rem; }
.setting label,
.setting button { flex: 1; }
.setting input { width: 4rem; }

.code-setting { margin-bottom: 0.2rem; }
.code-setting textarea { width: 100%; }
