@import "../../../styles/general.scss";

.list-container {
	@extend .container-box;
	height: 100%;
}

.search-container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
}

.checkbox-input {
	margin: 0;
	margin-right: 0.3rem;
	width: 1rem;
}

.list-titles-container {
	display: flex;
	font-weight: bold;
	margin-right: 1.5rem;
}

.list-entry-container {
	display: flex;
	margin: 0.5rem 0;
	cursor: pointer;
}

.list-content-container {
	margin: 0 1rem;
}

.list-item {
	flex: 3;
}

.list-item-active-column {
	flex: 1
}

.scroll-list-container {
	@extend .scroll-container;
	height: calc(100vh - 16rem);
}
