<section class="list-container">
	<header class="container-header">
		<h1>Familiemedlemmer</h1>
		<button type="button"
			(click)="add()">
			Tilføj person
		</button>
	</header>
	<section class="search-container ">
		<input type="text"
			placeholder="Søg efter familiemedlem"
			autocomplete="off">
		<label class="checkbox-container">
			<input type="checkbox" class="checkbox-input">
			Inkluder alle
		</label>
	</section>
	<ul>
		<li *ngFor="let person of people$ | async"
			class="person"
			(click)="clickPerson(person._id)">
			<div class="name">
				{{person.name}}
			</div>
			<span *ngFor="let info of person.information"
				class="info">
				{{info.title}}: {{info.content}}
			</span>
		</li>
	</ul>
</section>
