@import "../../styles/general.scss";

.home-container {
    display: flex;
    gap: 1rem;
}

.messages {
    @extend .container-box;
    flex: 5;
    min-height: 14rem;
    min-width: 22rem;
}

.events {
    @extend .container-box;
    flex: 1;
    min-height: 14rem;
    min-width: 16rem;
}

.scroll-list-container {
    @extend .scroll-container;
    height: calc(100% - 3rem);
    margin-top: 0.5rem;
}
