<section class="home-container">
	<section class="messages">
		<header class="container-header">
			<h1>Beskeder og Diskussioner</h1>
			<button type="button"
				(click)="addThread()">
				Ny beskedtråd
			</button>
		</header>
		<section class="scroll-list-container">
			<lundin-message-list></lundin-message-list>
		</section>
		
	</section>

	<section class="events">
		<header class="container-header">
			<h1>Begivenheder</h1>
			<button type="button"
				(click)="addCalendarEvent()">
				Ny begivenhed
			</button>
		</header>
		<section class="scroll-list-container">
			<lundin-calendar-event-list></lundin-calendar-event-list>
		</section>
	</section>
</section>
