.home-container {
    display: flex;
    gap: 1rem;
}

.messages {
    @extend .container-box;
    flex: 5;
	min-height: 14rem;
}

.events {
    @extend .container-box;
    flex: 1;
	min-height: 14rem;
}

.container-box {
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-full);
    padding-bottom: 0.5rem;
    background-color: white;
    height: calc(100vh - 5rem);
}

.scroll-list-container {
    height: calc(100% - 3rem);
    overflow-y: scroll;
    width: calc(100% - 0.5rem);
    margin-top: 0.5rem;
}

.scroll-list-container::-webkit-scrollbar-track
{
    border-radius: var(--border-radius-full);
    border: 1px solid var(--color-primary);
	background-color: white;
}

.scroll-list-container::-webkit-scrollbar
{
	width: 1rem;
	background-color: white;
}

.scroll-list-container::-webkit-scrollbar-thumb
{
	border-radius: var(--border-radius-full);
	background-color: var(--color-btn-neutral);
}
